
      a:link {
        color: #34495e;
      }

      a:visited {
        color: #34495e;
      }

      a:hover {
        color: black;
      }

      a:visited:hover {
        color: black;
      }

      table {
        border-collapse: collapse;
        font-size: 100%;
      }

      table td,
      table th {
        border: 1px solid black;
        padding: 0.5em;
      }

      table tr:first-child th {
        border-top: 0;
        font-weight: normal;
      }

      table tr:last-child td {
        border-bottom: 0;
      }

      table tr td:first-child,
      table tr th:first-child {
        border-left: 0;
      }

      table tr td:last-child,
      table tr th:last-child {
        border-right: 0;
      }
