**/.git/

firmware/ChibiOS/
firmware/ChibiOS-Contrib/
firmware/controllers/can/wideband_firmware/
firmware/controllers/lua/luaaa/
firmware/ext/cmsis-svd/
firmware/ext/lua/
firmware/ext/openblt/
firmware/ext/uzlib/
firmware/libfirmware/
hardware/InteractiveHtmlBom/
hardware/rusefi_lib/
java_console/luaformatter/
misc/hex2dfu/
unit_tests/googletest/

.github/
misc/jenkins/
