[submodule "firmware/ChibiOS"]
	path = firmware/ChibiOS4
	url = https://github.com/rusefi/ChibiOS.git
	branch = stable_17.6.rusefi
[submodule "firmware/ChibiOS-Contrib"]
	path = firmware/ChibiOS-Contrib
	url = https://github.com/ChibiOS/ChibiOS-Contrib.git
