.dep*
build/
build_kinetis/
pinouts
workarea
out/
logs/
blbuild/
Debug_EMS/
Release_EMS/
Debug/
.settings/
*_ram_report.txt
doxygen/
/.idea
workspace.xml
java_console_binary
.vscode/.*
*.cmp
*.net
err.txt
log.txt
*.rusefi_binary
*.msq

# Eclipse
.metadata/
