.dep*
build/
build_kinetis/
pinouts
workarea
bundle_name.txt
out/
logs/
blbuild/
Debug_EMS/
Release_EMS/
Debug/
.settings/
*_ram_report.txt
doxygen/
/.idea
workspace.xml
java_console_binary
.vscode/.*
*.cmp
*.net
err.txt
log.txt
*.rusefi_binary
*.msq
gitversion.h*
engine_modules_generated.h*
modules_list_generated.h*

# Eclipse
.metadata/

# FOME simulator makes logs, ignore those
fome_simulator_log.mlg

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
