<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rusefi.app">

    <application android:label="@string/app_name"
        android:name="com.rusefi.app.RusefiApplication"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <!--
            The USB_DEVICE_ATTACHED intent is always sent to an activity.
            Activity is launched singleTop to avoid creating multiple activities for each event.
          -->
        <activity
            android:name=".rusEFI"
            android:launchMode="singleTop">

            <!-- Launch as default from Android Studio -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Launch when USB device attached -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <service android:name=".SerialService" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>
