<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="R" fileName="log/proxy.log"
                     filePattern="log/proxy.log.%i.zip">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-1level [%t] %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500M"/>
            </Policies>
            <DefaultRolloverStrategy max="10" fileIndex="min"/>
        </RollingFile>
        <RollingFile name="E" fileName="log/proxy.err"
                     filePattern="log/proxy.err.%i.zip">
            <ThresholdFilter level="WARN"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-1level [%t] %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500M"/>
            </Policies>
            <DefaultRolloverStrategy max="10" fileIndex="min"/>
        </RollingFile>
        <File name="S1_Logger" fileName="log/proxy.xxx"/>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="R"/>
            <AppenderRef ref="E"/>
        </Root>
        <Logger name="com.rusefi.x" level="DEBUG" additivity="true">
            <AppenderRef ref="S1_Logger"/>
        </Logger>
    </Loggers>
</Configuration>