.pin-marker {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  background-color: white;
  border: 3px black solid;
  cursor: pointer;
  color: black;
  text-align: center;
  line-height: 200%;
}

[data-type="12v"],
[data-type="12V"] {
  border-color: yellow;
}

[data-type="5v"],
[data-type="5V"] {
  border-color: red;
}

[data-type="at"] {
  border-color: green;
}

[data-type="av"] {
  border-color: brown;
}

[data-type="can"] {
  border-color: blue;
}

[data-type="din"] {
  border-color: lime;
}

[data-type="etb"] {
  border-color: darkcyan;
}

[data-type="gnd"] {
  border-color: darkgreen;
}

[data-type="gp_high"] {
  border-color: aqua;
}

[data-type="gp_low"] {
  border-color: aquamarine;
}

[data-type="gp_pp"] {
  border-color: cyan;
}

[data-type="hall"] {
  border-color: darkolivegreen;
}

[data-type="hl"] {
  border-color: gold;
}

[data-type="hs"] {
  border-color: indigo;
}

[data-type="ign"] {
  border-color: majenta;
}

[data-type="inj"] {
  border-color: maroon;
}

[data-type="ls"] {
  border-color: lightgreen;
}

[data-type="sgnd"] {
  border-color: olive;
}

[data-type="vr"] {
  border-color: sienna;
}

.pin-marker:hover {
  transform: scale(2);
  z-index: 2;
}

.pin-marker.highlight {
  background-color: #fc935a;
}

.pin-marker.selected {
  background-color: #f15a24;
  color: white;
}

.connector-container {
  width: 100%;
  overflow-x: scroll;
  position: relative;
}

.connector-div {
  height: 100%;
  position: relative;
  z-index: 0;
}

.connector-img {
  height: 100%;
  z-index: 0;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: clamp(100%, 100%, 1000px);
  text-align: left;
}

@media (min-width: 1000px) {
  table {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  table {
    font-size: 3rem;
  }
}

table tbody tr {
  cursor: pointer;
}

table td, table th {
  border: 1px solid black;
  padding: 8px;
}

table tr:nth-child(even){
  background-color: #fc935a;
}

table tr:hover {
  background-color: #f15a24;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f15a24;
  color: black;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: black;
    color: white;
  }

  table td, table th {
    border: 1px solid #ddd;
  }

  table th {
    color: white
  }

  table tr:nth-child(even){
    background-color: #230c00;
    color: white;
  }

  table tr:hover {
    background-color: #f15a24;
  }
}

