/*
 * RomRaider Open-Source Tuning, Logging and Reflashing
 * Copyright (C) 2006-2013 RomRaider.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
 */

// @warning.generated-file@

package com.romraider;

import javax.swing.ImageIcon;

public final class Version {
	public static final String PRODUCT_NAME = "@name.package@";
	public static final String VERSION = "@version.major@.@version.minor@.@version.patch@ @version.extra@ @version.extra1@";
	public static final String BUILDNUMBER = "@version.buildnumber@";
	public static final String SUPPORT_URL = "@supporturl@";
	public static final String ROM_REVISION_URL = "@romrevisionurl@";
	public static final String ECU_DEFS_URL = "@ecudefsurl@";
	public static final String LOGGER_DEFS_URL = "@loggerdefsurl@";
	public static final String CARS_DEFS_URL = "@carsdefsurl@";
	public static final String RELEASE_NOTES = "@release_notes@";
	public static final ImageIcon ABOUT_ICON = new ImageIcon(Version.class.getClass().getResource("/graphics/romraider-ico-large.gif"));
	public static final int MIN_LOG_DEF_VERSION = @min.logger.def.version@;

    private Version() {
    }
}
