name: TS Plugin

on: [push,pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '8'

      - name: Test Compiler
        run: javac -version

      - name: Install Tools
        working-directory: ./.github/workflows/
        run: |
          sudo ./add-ubuntu-latest-apt-mirrors.sh
          sudo apt-get install sshpass

      - name: Build TS plugin body
        working-directory: ./java_tools/ts_plugin
        run: ant

      - name: Upload plugin body
        working-directory: .
        run: java_console/upload_file.sh ${{ secrets.RUSEFI_SSH_USER }} ${{ secrets.RUSEFI_SSH_PASS }} ${{ secrets.RUSEFI_SSH_SERVER }} build_server/autoupdate java_tools/ts_plugin/build/jar/rusefi_plugin_body.jar

