name: Firmware on Windows

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2019

    steps:
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: carlosperate/arm-none-eabi-gcc-action@v1
        with:
          release: '12.3.Rel1' # 13 fails overloaded-virtual

      - uses: actions/checkout@v4

      - name: Checkout Submodules
        run: |
          git submodule update --init --depth=1 firmware/ChibiOS
          git submodule update --init --depth=1 firmware/ChibiOS-Contrib
          git submodule update --init --depth=1 firmware/libfirmware
          git submodule update --init --depth=1 firmware/ext/lua
          git submodule update --init --depth=1 firmware/ext/uzlib
          git submodule update --init --depth=1 firmware/ext/openblt
          git submodule update --init --depth=1 firmware/controllers/lua/luaaa
          git submodule update --init --depth=1 firmware/controllers/can/wideband_firmware
          git submodule update --init --depth=1 java_console/luaformatter
          git submodule update --init --depth=1 java_console/peak-can-basic

      - name: Set up Cygwin
        uses: cygwin/cygwin-install-action@master

      - name: Print bash version
        run: bash --version

      - name: Test Java Compiler
        run: javac -version

      - name: Print arm GCC version
        run: arm-none-eabi-gcc -v

      - name: Print make version
        run: make -v

      - name: Compile
        working-directory: firmware
        run: make -j4
