name: Unit Tests on Windows

on: [push,pull_request]

jobs:
  build:
    runs-on: windows-2019

    steps:
    - uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '11'

    - uses: actions/checkout@v4

    - name: Checkout Submodules
      run: |
        git submodule update --init --depth=1 unit_tests/googletest
        git submodule update --init --depth=1 firmware/libfirmware
        git submodule update --init --depth=1 firmware/ext/lua
        git submodule update --init --depth=1 firmware/controllers/lua/luaaa
        git submodule update --init --depth=1 firmware/controllers/can/wideband_firmware
        git submodule update --init --depth=1 java_console/peak-can-basic

    - name: Set up Cygwin
      uses: cygwin/cygwin-install-action@master

    - name: Print bash version
      working-directory: .
      run: bash --version

    - name: Test Java Compiler
      run: javac -version

    - name: Generate Configs, Enums & Live Documentation
      working-directory: ./firmware/
      run: bash gen_default_everything.sh

    - name: Print GCC version
      working-directory: .
      run: gcc -v

    - name: Print make version
      working-directory: .
      run: make -v

    - name: Compile
      working-directory: unit_tests
      run: make -j4

    - name: Run Tests on Windows
      working-directory: unit_tests
      run: build/rusefi_test.exe
