name: Unit Tests on Windows

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022

    steps:
    - uses: actions/setup-java@v5
      with:
        distribution: 'zulu'
        java-version: '17'

    - uses: actions/setup-java@v5
      with:
        distribution: 'zulu'
        java-version: '17'

    - uses: actions/checkout@v6

    - name: Checkout Submodules
      run: |
        git submodule update --init --depth=1 unit_tests/googletest
        git submodule update --init --depth=1 firmware/libfirmware
        git submodule update --init --depth=1 firmware/ext/lua
        git submodule update --init --depth=1 firmware/controllers/lua/luaaa
        git submodule update --init --depth=1 firmware/controllers/can/wideband_firmware
        git submodule update --init --depth=1 java_console/peak-can-basic

    - name: Set up Cygwin
      uses: cygwin/cygwin-install-action@v6

    - name: Print bash version
      run: bash --version

    - name: Test Java Compiler
      run: javac -version

    - name: Print GCC version
      run: gcc -v

    - name: Print make version
      run: make -v

    - name: Handle docs-enums separately just to make github logs more readable
      working-directory: ./unit_tests/
      run: make -j4 docs-enums

    - name: Handle configs separately just to make github logs more readable
      working-directory: ./unit_tests/
      run: make -j4 config

    - name: Compile
      working-directory: unit_tests
      run: make -j4

    - name: Run Tests on Windows
      working-directory: unit_tests
      run: build/rusefi_test.exe
