name: Configs & Live Docs

on:
  push:
    branches:
      - master

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Install Tools
      run: sudo apt-get install sshpass sshpass mtools

    - name: Generate Enum Strings
      working-directory: ./firmware/
      run: bash gen_enum_to_string.sh

    - name: Generate All Configs
      working-directory: ./firmware/
      run: bash gen_config.sh

    - name: Upload .ini files
      working-directory: ./firmware/tunerstudio/generated
      run: ../upload_ini.sh ${{ secrets.RUSEFI_ONLINE_FTP_USER }} ${{ secrets.RUSEFI_ONLINE_FTP_PASS }} ${{ secrets.RUSEFI_FTP_SERVER }}

    - name: Generate Live Documentation
      working-directory: ./firmware/
      run: bash gen_live_documentation.sh

    # Commit changes and catch the error that occurs if nothing has been changed (without catching other errors)
    - name: Commit fresh generated headers and TS project
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub build-firmware Action"
        git add firmware/tunerstudio/generated
        git add firmware/controllers/generated
        git add java_console/io/src/main/java/com/rusefi/enums
        # get the original ramdisk images back in order to not overwrite the default placeholder
        git checkout -- firmware/hw_layer/mass_storage/ramdisk_image.h firmware/hw_layer/mass_storage/ramdisk_image_compressed.h
        git status
        OUT=$(git commit -am "Auto-generated configs and docs" 2>&1) || echo "commit failed, finding out why"
        if echo "$OUT" | grep 'nothing to commit'; then
          echo "::set-env name=NOCOMMIT::true"
          exit 0
        elif echo "$OUT" | grep 'changed'; then
          exit 0
        else
          exit 1
        fi

    # We need to know what branch this is in order to push to the correct branch
    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch

    - name: Push configs
      if: ${{env.NOCOMMIT != 'true'}}
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ github.token }}
        branch: ${{ steps.extract_branch.outputs.branch }}


    - name: Print Compiler version
      # NOTE: on mac, this is actually symlink'd to clang, not gcc, but that's ok - we want to build on both
      working-directory: .
      run: gcc -v

    - name: Build Tests
      working-directory: ./unit_tests/
      run: make -j4

    - name: Run Tests
      working-directory: ./unit_tests/
      run: build/rusefi_test

      # Commit changes and catch the error that occurs if nothing has been changed (without catching other errors)
    - name: Commit fresh triggers.txt
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
      #
      # we have minor drama - looks like unit_tests are invoked from root folder while a more natural is to invoke those
      # from 'unit_tests' folder
      # as a work-around to leverage unit_tests/.gitignore we move those files into expected folder for now
      #
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub build-unit-tests Action"
        git status
        git remote -v
        echo See https://github.com/rusefi/rusefi/issues/2446
        git pull https://github.com/rusefi/rusefi master
        git add unit_tests/triggers.txt
        git status
        OUT=$(git commit -m "Trigger wheel definitions" unit_tests/triggers.txt 2>&1) || echo "commit failed, finding out why"
        echo "$OUT"
        if echo "$OUT" | grep -E 'nothing to commit|no changes added'; then
          echo "::set-env name=NOCOMMIT::true"
          exit 0
        elif echo "$OUT" | grep 'changed'; then
          exit 0
        else
          exit 1
        fi

    - name: Push fresh triggers.txt
      if: ${{github.ref == 'refs/heads/master' && env.NOCOMMIT != 'true' }}
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ github.token }}
        branch: master
